.crumb-con{
    border-top: 2px solid ;
    border-top-color: #c60023;
    font-size: 15px;
    color: #999;
   
}

.sort-con{ overflow: auto;}
.sort-con .sort-item{
    float: left;
    border: 1px solid #999;
    margin-right: -1px;
    padding: 0 8px;

} 

.sort-con .sort-item .fa{
    cursor: pointer;

}
.sort-con .sort-item.active{
    background: #c60023;
    color: #fff;
    border: 1px solid #c60023;
}
.sort-con .sort-item .fa-sort-desc{
    position: absolute;
    left: 102px;
    top:  4px;
}
.sort-con .sort-item.asc .fa-sort-desc{
    opacity: 0.6;
}
.sort-con .sort-item.desc .fa-sort-asc{
    opacity: 0.6;
}
.sort-item:hover{
    cursor: pointer;
}
