
.nav{
    font-size : 10px;
    background: #eee;
    height: 30px;
    line-height: 30px;
}
.nav .user{
    float : left;
}
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display : inline-block;
    margin-right: 5px;
}

.nav .user .link{
    margin-right: 5px;
}

.nav .user.login{
    display:none;
}