.header{
    margin: 0 auto;
    width: 30%;
}
.header .logo{
    float: left;
    color : #c60023;
    font-size: 30px;
    
    position: absolute;
    top: 25px;
    font-weight: bolder;
    display: block;
    text-decoration: none;
}
.header .search-con{
    padding: 20px 90px;
}

.header .search-con .search-input{
    padding-left: 10px;
    font-size: 15px;
    border : 2px solid #c60023;
    height: 40px;
    width: 350px;
    outline: none;
}
.header .search-con .search-button{
    position: absolute;
    font-size: 15px;
    background-color: #c60023;
    color: rgb(255, 255, 255);
    border : 2px solid #c60023;
    height: 44px;
    width: 78px;
}


